body {
    color: black;
    background-color: white;
}

a.show_hide {
    text-decoration: none;
}

table.results, table.results tr, table.results th, table.results td {
    border-width: 0;
    border-color: black;
    border-style: solid;
}

table.results {
    width: 100%;
    border-width: 1px;
    border-collapse: collapse;
}

table.results td, table.results th {
    border-width: 0px 1px;
    vertical-align: top;
}

table.results tr {
    border-top-width: 1px;
}

#col_details, #col_id {
    width: 5%;
}

.expandable {
    display: none;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.failed {
    background-color: yellow;
}