.gwt-SuggestBox {
    width: 800px;
    font-size: 150%;
    margin: 1em 0 0.5em 0;
}

.my-settingsPanel * {
    margin: 0 0.4em;
}

.my-FactsBox {
    margin-top: 1em;
}

.my-inputListDisclosurePanel {
    margin: 1em;
    border: thin solid silver;
    width: 800px;
}

.my-inputListScrollPanel {
    width: 798px;
}

.my-inputListPanel {
	margin: 5px;
}

.my-InputPanel {
}

.my-InputTreePanel {
	margin-left: 1em;
}

.my-InterpretationPanel {
}
