body {
    margin: 0;
    padding: 5px;    
}

h1 {
    text-align: center;
}

.gwt-SuggestBox {
    width: 800px;
    font-size: 150%;
    margin: 1em 0 0.5em 0;
}

.my-settingsPanel * {
    margin: 0 0.4em;
}

.my-FactsBox {
    margin-top: 1em;
}

.my-ScrollingDisclosurePanel {
    margin: 1em;
    border: thin solid silver;
    width: 800px; 
}

.my-ScrollingDisclosurePanel .my-scroll, .my-ScrollingDisclosurePanel .gwt-DisclosurePanel {
    width: 798px;
}

.my-ScrollingDisclosurePanel .gwt-DisclosurePanel .content {
	margin: 5px;
}

.my-InputPanel {
}

.my-InputTreePanel {
	margin-left: 1em;
}

.my-InterpretationPanel {
}
